@{
    ViewData["Title"] = "Administrativní panel";
}

<h1>Administrativní panel</h1>

<div class="container" style="background-color: #e3f2fd; padding: 20px;">
    <p>Vítejte v administrativním panelu. Zde můžete spravovat různé aspekty systému.</p>

    <p>
        <a href='@Url.Action("AdminIndex", "Home")' class="btn btn-secondary">Zpátky na stránku admin</a>
    </p>


    <div class="row">
        <div class="col-md-12">
            <div class="btn-group-vertical" style="width: 100%;">
                <a href="@Url.Action("Index", "Adresa")" class="btn btn-primary mb-2">Adresy</a>
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary mb-2">Domovská stránka</a>
                <a href="@Url.Action("Index", "Kategorie")" class="btn btn-primary mb-2">Kategorie</a>
                <a href="@Url.Action("Index", "Log")" class="btn btn-primary mb-2">Záznamy</a>
                <a href="@Url.Action("Index", "Platba")" class="btn btn-primary mb-2">Platby</a>
                <a href="@Url.Action("Index", "Pokladna")" class="btn btn-primary mb-2">Pokladna</a>
                <a href="@Url.Action("Index", "Pozice")" class="btn btn-primary mb-2">Pozice</a>
                <a href="@Url.Action("Index", "ProdaneZbozi")" class="btn btn-primary mb-2">Prodávané zboží</a>
                <a href="@Url.Action("Index", "Prodejna")" class="btn btn-primary mb-2">Obchody</a>
                <a href="@Url.Action("Index", "Pult")" class="btn btn-primary mb-2">Pulty</a>
                <a href="@Url.Action("Index", "RegisUzivatel")" class="btn btn-primary mb-2">Registrace uživatelů</a>
                <a href="@Url.Action("Index", "Role")" class="btn btn-primary mb-2">Role</a>
                <a href="@Url.Action("Index", "Sklad")" class="btn btn-primary mb-2">Sklad</a>
                <a href="@Url.Action("Index", "Soubor")" class="btn btn-primary mb-2">Soubory</a>
                <a href="@Url.Action("Index", "Zamestanec")" class="btn btn-primary mb-2">Zaměstnanci</a>
                <a href="@Url.Action("Index", "Zbozi")" class="btn btn-primary mb-2">Zboží</a>
                <a href="@Url.Action("Index", "ZboziNaPulte")" class="btn btn-primary mb-2">Zboží na pultu</a>
                <a href="@Url.Action("Index", "ZboziNaSklade")" class="btn btn-primary mb-2">Zboží na skladě</a>
            </div>
        </div>
    </div>
</div>
