@model IEnumerable<OnlineSupermarket.Models.Pult>

@{
    ViewData["Title"] = "Pulty";
}

<h1>Pulty</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<!-- Добавляем скрытое поле с Anti-Forgery Token для AJAX-запросов -->
@Html.AntiForgeryToken()

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPultu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cislo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PocetPolicek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdejnaIdProdejny)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdKategorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumVytvoreni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumAktualizace)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPultu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cislo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PocetPolicek)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProdejnaIdProdejny)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdKategorie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatumVytvoreni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatumAktualizace)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPultu" class="btn btn-primary">Edit</a>
                    <button class="btn btn-danger" onclick="deletePult(@item.IdPultu)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function getAntiForgeryToken() {
            return $('input[name="__RequestVerificationToken"]').val();
        }

        function deletePult(idPultu) {
            if (confirm("Are you sure you want to delete this pult?")) {
                $.ajax({
                    url: '@Url.Action("Delete", "Pult")',
                    type: 'POST',
                    data: { idPultu: idPultu },
                    headers: {
                        'RequestVerificationToken': getAntiForgeryToken()
                    },
                    success: function (response) {
                        if (response.success) {
                            location.reload();
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function () {
                        alert("Error deleting pult.");
                    }
                });
            }
        }
    </script>
}


