@model IEnumerable<OnlineSupermarket.Models.ZboziKategorieViewModel>

<h2 style="color: white;">Список товаров и категорий</h2>

<table class="table table-striped">
	<thead>
	<tr>
		<th style="color: white;">Изображение</th>
		<th style="color: white;">Название товара</th>
		<th style="color: white;">Актуальная цена</th>
		<th style="color: white;">Цена с клубной картой</th>
		<th style="color: white;">Вес</th>
		<th style="color: white;">Состав</th>
		<th style="color: white;">Категория</th>
		<th></th> <!-- Колонка для кнопки -->
	</tr>
	</thead>
	<tbody>
	@foreach (var item in Model)
	{
		<tr style="height: 150px;"> <!-- Достаточный отступ для размещения картинки -->
			<td>
				<img src="~/img/@item.IDZbozi.jpg" alt="@item.ZboziNazev" style="height: 100px; width: auto;" />
			</td>
			<td style="color: white;">@item.ZboziNazev</td>
			<td style="color: white;">@item.AktualniCena</td>
			<td style="color: white;">@item.CenaZeKlubKartou</td>
			<td style="color: white;">@item.Hmotnost</td>
			<td style="color: white;">@item.Slozeni</td>
			<td style="color: white;">@item.KategorieNazev</td>
			<td>
				<button class="btn btn-primary">Купить</button>
			</td>
		</tr>
	}
	</tbody>
</table>