@model IEnumerable<OnlineSupermarket.Models.Zamestnanec>

<h1>Seznam Zaměstnanců</h1>

<table>
    <thead>
        <tr>
            <th>ID Zaměstnance</th>
            <th>Jméno</th>
            <th>Příjmení</th>
            <th>Rodné Číslo</th>
            <th>Telefonní Číslo</th>
            <th>Pozice ID</th>
            <th>Prodejna ID</th>
            <th>Nadřízený ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdZamestance</td>
                <td>@item.Jmeno</td>
                <td>@item.Prijmeni</td>
                <td>@item.RodneCislo</td>
                <td>@item.TelefonniCislo</td>
                <td>@item.PoziceIdPozice</td>
                <td>@item.ProdejnaIdProdejny</td>
                <td>@item.IdNadrezene</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create">Přidat nového zaměstnance</a>
