@model IEnumerable<OnlineSupermarket.Models.Pozice>

@{
    ViewData["Title"] = "Pozice";
}

<h1>Pozice</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPozice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mzda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumVytvoreni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumAktualizace)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPozice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nazev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mzda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatumVytvoreni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatumAktualizace)
                </td>
                <td>
                    <a asp-action="Create" class="btn btn-success">Create New</a>
                    <a asp-action="Edit" asp-route-id="@item.IdPozice" class="btn btn-primary">Edit</a>
                    <button class="btn btn-danger" onclick="deletePozice(@item.IdPozice)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        function deletePozice(id) {
            if (confirm("Are you sure you want to delete this pozice?")) {
                $.ajax({
                    url: '@Url.Action("Delete", "Pozice")',
                    type: 'POST',
                    data: { id: id },
                    success: function (result) {
                        if (result.success) {
                            location.reload();
                        } else {
                            alert("Error deleting pozice.");
                        }
                    }
                });
            }
        }
    </script>
}