@model IEnumerable<OnlineSupermarket.Models.Soubor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDSOUBORU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NAZEV_SOUBORU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TYP_SOUBORU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRIPONA_SOUBORU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATUM_NAHRANI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATUM_MODIFIKACE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_REGISUZIVATELU)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDSOUBORU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAZEV_SOUBORU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TYP_SOUBORU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRIPONA_SOUBORU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATUM_NAHRANI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATUM_MODIFIKACE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_REGISUZIVATELU)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDSOUBORU">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.IDSOUBORU">Delete</a> |
                <a asp-action="ViewFile" asp-route-id="@item.IDSOUBORU">View</a>
            </td>
        </tr>
}
    </tbody>
</table>