@model IEnumerable<OnlineSupermarket.Models.Sklad>

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Sklad</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Název Skladu</th>
            <th>Počet Poliček</th>
            <th>Plocha</th>
            <th>Datum Vytvoření</th>
            <th>Datum Aktualizace</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sklad in Model)
        {
            <tr>
                <td>@sklad.NazevSkladu</td>
                <td>@sklad.PocetPolicek</td>
                <td>@sklad.Plocha</td>
                <td>@sklad.DatumVytvoreni</td>
                <td>@sklad.DatumAktualizace</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@sklad.IdSkladu" class="btn btn-secondary">Edit</a>
                    <form asp-action="Delete" asp-route-id="@sklad.IdSkladu" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>